.TodoList-header {
    border-bottom: 1px solid #D3CCE3;
}

.TodoList-header h1 {
    margin-bottom: 0;
    color: #372E4D
}

.TodoList-header p {
    margin-top: 10px;
}

.TodoList-list{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}